<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FINDME"
        tools:targetApi="31">
        <activity
            android:name=".Wait"
            android:exported="false" />
        <activity
            android:name=".Wait2"
            android:exported="false" />
        <activity
            android:name=".SettingsProfile2"
            android:exported="false" />
        <activity
            android:name=".SettingsProfile"
            android:exported="false" />
        <activity
            android:name=".Choice"
            android:exported="false" />
        <activity
            android:name=".VotingS"
            android:exported="false" />
        <activity
            android:name=".AnswersS"
            android:exported="false" />
        <activity
            android:name=".FinalAnimation"
            android:exported="false" />
        <activity
            android:name=".Rating"
            android:exported="false" />
        <activity
            android:name=".VotingF"
            android:exported="false" />
        <activity
            android:name=".AnswersF"
            android:exported="false" />
        <activity
            android:name=".SettingsAnimation"
            android:exported="false" />
        <activity
            android:name=".SettingsSound"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".Connect"
            android:exported="false" />
        <activity
            android:name=".GetCode"
            android:exported="false" />
        <activity
            android:name=".Start"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>